<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.livetl.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- For Android TV -->
    <!--
    Pending d-pad support, e.g. https://github.com/thesauri/jetpack-compose-dpad-navigation

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    320x180 banner: android:banner="@drawable/banner"

    In activity: <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
    -->

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:name=".App"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- URLs handled by YouTube app -->
                <data
                    android:host="youtu.be"
                    android:scheme="https" />
                <data
                    android:host="youtube.com"
                    android:scheme="https" />
                <data
                    android:host="m.youtube.com"
                    android:scheme="https" />
                <data
                    android:host="www.youtube.com"
                    android:scheme="https" />

                <!-- LiveTL URI; e.g. livetl://translate/123456 -->
                <data
                    android:host="translate"
                    android:scheme="livetl" />
            </intent-filter>
        </activity>
    </application>

</manifest>